# Maven
target/

# IntelliJ IDEA
.idea/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración local de Spring Boot
backend/src/main/resources/application.properties